#mainNavbar .dropdown-menu {
    background-color: #020069 !important;
}

#mainNavbar  .dropdown-item:hover {
    color: white !important;
    text-decoration: none;
    background-color: black !important;
}


#mainNavbar .dropdown-item {
    color: #f8f9fa !important;
}

#mainNavbar  .dropdown-item:focus {
    color: white !important;
    text-decoration: none;
    background-color: black !important;
}

#mainNavbar  .navbar-nav > li > a {
    color: #ecf0f1;
}